<html>

<head>
    <title>Podaci o ulaznici</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="user-container">
        <h1>Prijavljeni korisnik:</h1>
    </div>
    <div class="ticket-details-container">
        <h1>Podaci o ulaznici:</h1>
        <div class="info">
            <h3>OIB:</h3>
            <p id="oib"></p>
        </div>
        <div class="info">
            <h3>First name:</h3>
            <p id="fname"></p>
        </div>
        <div class="info">
            <h3>Last name:</h3>
            <p id="lname"></p>
        </div>
        <div class="info">
            <h3>Created at:</h3>
            <p id="time"></p>
        </div>
    </div>
    <script>
        fetch("/api/ticket/703faa1d-df13-4a4a-a6f7-4101b26c8f4c")
            .then(response => response.json())
            .then(data => {
                console.log(data)
                document.getElementById('oib').innerText = data.vatin;
                document.getElementById('fname').innerText = data.firstName;
                document.getElementById('lname').innerText = data.lastName;
                document.getElementById('time').innerText = new Date(data.createdAt).toLocaleString();
            });
    </script>
</body>

</html>