body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: grid;
  gap: 12px;

  a {
    text-decoration: none;
    color: #117fc3;
  }

  a:hover {
    opacity: 80%;
  }
}

.total-tickets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  padding: 20px 50px;

  h1 {
    margin: 0;
  }

  #total-tickets {
    color: #117fc3;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 2rem;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ticket-form {
  display: grid;
  gap: 8px;

  input {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 8px;
  }
}

button {
  cursor: pointer;
  padding: 6px;
  width: 100px;
  margin-top: 8px;
  border: 1px solid rgba(5, 11, 62, 0.3);
  border-radius: 9999px;
  color: #f3f3f3;
  background-color: #117fc3;
}

button:hover {
  opacity: 80%;
}

nav {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.qrcode-container {
  display: flex;
  justify-content: center;
}
